<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Check Weather</h1>
    <!-- <form action="/check-weather" method="post">
        <label for="latitude">Enter Latitude:</label>
        <input type="text" id="latitude" name="latitude" required>
        <label for="longitude">Enter Longitude:</label>
        <input type="text" id="longitude" name="longitude" required>
        <button type="submit">Check Weather</button>
    </form> -->
    <form action="/check-weatherbyloc" method="post">
        <label for="location">Enter Location:</label>
        <input type="text" id="location" name="location" required>
        <button type="submit">Check Weather</button>
    </form>
</body>
</html>